{% extends 'base.html' %}

{% block title %}Bosh sahifa | E-Bookpolis{% endblock %}
{% load static %}
{% block content %}
    <!-- Pastki navigatsiya boshlanishi -->
    <div class="bottom-navbar">
      <a href="#home" class="fas fa-home"></a>
      <a href="#about" class="fas fa-people-group"></a>
      <a href="#populer" class="fas fa-fire"></a>
      <a href="#member" class="fas fa-user-plus"></a>
      <a href="#new" class="fas fa-book-bookmark"></a>
      <a href="#reviews" class="fas fa-star"></a>
      <a href="#blogs" class="fas fa-newspaper"></a>
    </div>
    <!-- Pastki navigatsiya tugashi -->

    <!-- Bosh sahifa bo'limi boshlanishi -->
    <section class="home" id="home">
      <div class="row">
        <div class="content">
          <h3>Kitoblar ruhingizni oziqlantiradi</h3>
          <p>
            Kitoblar dunyosi sizni yangi bilimlar, hayotiy tajribalar va cheksiz ilhom manbalari bilan tanishtiradi. 
            Bizning elektron kutubxonamizda siz istalgan janrdagi asarlarni topishingiz mumkin.
          </p>
          <a href="#populer" class="btn">Hozir xarid qiling!</a>
        </div>

        <div class="swiper books-slider">
          <div class="swiper-wrapper">
            {% for book in books_popular %}
              <a href="#" class="swiper-slide" style="padding: 10px; margin: 10px; display: inline-block;">
                <img src="{{ book.image.url }}" alt="" style="width: 100%; height: auto; border-radius: 5px;" />
              </a>
            {% endfor %}
          </div>
          <img src="{% static 'img/stand.png' %}" class="stand" alt="Stend tasviri">
        </div>
      </div>
    </section>
    <!-- Bosh sahifa bo'limi tugashi -->


    <!-- About Us Start -->
    <section id="about" class="about">
      <div class="container">
        <h1>NEGA BIZNI TANLASHINGIZ KERAK?</h1>
        <div class="row">
          <div class="image">
            <img src="{% static './img/img4.svg' %}" alt="" />
          </div>
    
          <div class="content">
            <h3>O'zbekistondagi eng yaxshi elektron kitoblar platformasi</h3>
            <p>
              Bizning platformamizda 10,000 dan ortiq turli janrlardagi elektron kitoblarni topishingiz mumkin. 
              Har qandae istakka mos ravishda filtrlash tizimi va qulay interfeys sizga yoqadi.
            </p>
            <p>
              Biz doimo yangi kitoblar bilan kutubxonamizni boyitib boramiz va mijozlarimiz uchun eng yaxshi 
              xizmatni taqdim etishga intilamiz.
            </p>
            <div class="icons-container">
              <div class="icons">
                <i class="fas fa-shield"></i>
                <span>Xavfsiz va tez yetkazib berish</span>
              </div>
              <div class="icons">
                <i class="fas fa-wallet"></i>
                <span>Har qandae to'lov usuli</span>
              </div>
              <div class="icons">
                <i class="fas fa-headset"></i>
                <span>24/7 qo'llab-quvvatlash</span>
              </div>
            </div>
            <a href="./404Error.html" class="btn">batafsil</a>
          </div>
        </div>
      </div>
    </section>
    
    <!-- About Us End -->

    <!-- Popular Book Start -->
    <section class="populer" id="populer">
      <h1 class="heading"><span> Mashhur Kitoblar </span></h1>
      <div class="swiper populer-slider">
        <div class="swiper-wrapper">
          {% for book in books_popular %}
          <div class="swiper-slide box">
            <div class="icons">
              <a href="#populer" class="fas fa-search"></a>
              <a href="#populer" class="fas fa-heart-circle-plus"></a>
              <a href="{% url 'book_detail' book.id %}" class="fas fa-info"></a>
            </div>
            <div class="image">
              <img src="{{ book.image.url }}" alt="{{ book.title }}" />
            </div>
            <div class="content">
              <h3>{{book_p.title}}</h3>
              <div class="price">Yoqtirishlar {{ book.likes_count }}<span>Yuklab olishlar: {{ book.downloads_count }}</span></div>
              <a href="{% url 'book_detail' book.id %}" class="btn">Ko'rish</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>
    <!-- Popular Book End -->

    <!-- Member Start -->
    <section id="member" class="member">
      <div class="container">
        <h1>A'ZO BO'LING!</h1>
        <div class="row">
          <div class="content">
            <h3>
              Bizning <span>A'zolarimiz</span> safiga qo'shiling va<br />
              <span>Yangiliklardan</span> xabardor bo'ling!
            </h3>
            <p>
              A'zo bo'lish orqali siz eksklyuziv chegirmalar, yangi kitoblar haqida birinchi bo'lib xabardor 
              bo'lish va maxsus takliflar bilan foydalanish imkoniyatiga ega bo'lasiz.
            </p>
            <p>
              Har oy a'zolarimiz uchun maxsus tanlovlar o'tkazib boriladi va eng faol 
              o'quvchilarimiz sovg'alar bilan taqdirlanadi.
            </p>
            <form action="">
              <input
                type="email"
                name=""
                placeholder="Elektron pochtangizni kiriting..."
                id=""
                class="box"
                required
              />
              <input type="submit" value="Xabardor bo'lish" class="btn" />
              <a href="./member.html" class="btn">A'zo bo'lish</a>
            </form>
          </div>
          <div class="image">
            <img src="./img/img5.svg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- Member End -->

    <!-- New Book Start -->
    <section class="new" id="new">
      <h1 class="heading"><span>Yangi Kitoblar</span></h1>

      <!-- New Books  Section 1 Starts-->
      <div class="swiper new-slider">
        <div class="swiper-wrapper">
          {% for book in nev_books %}
            {% if book.id|divisibleby:2 %}
            <a href="{% url 'book_detail' book.id %}" class="swiper-slide box">
              <div class="image">
                {% if book.image %}
                  <img src="{{ book.image.url }}" alt="Book Image" />
                {% else %}
                  <img src="path_to_default_image.jpg" alt="Default Image" />
                {% endif %}
              </div>
              <div class="content">
                <h3>{{ book.title }}</h3>
                <div class="price">{{ book.likes_count|default:"0" }} yoqtirish</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <!-- New Books Section 1 End -->

      <!-- New Books Section 2 Start  -->
      <div class="swiper new-slider-2">
        <div class="swiper-wrapper">
          {% for book in nev_books %}
            {% if not book.id|divisibleby:2 %}
            <a href="{% url 'book_detail' book.id %}" class="swiper-slide box">
              <div class="image">
                {% if book.image %}
                  <img src="{{ book.image.url }}" alt="Book Image" />
                {% else %}
                  <img src="path_to_default_image.jpg" alt="Default Image" />
                {% endif %}
              </div>
              <div class="content">
                <h3>{{ book.title }}</h3>
                <div class="price">{{ book.likes_count|default:"0" }} yoqtirish</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <!-- New Books Section 2 End-->
    </section>
    <!-- New Book End -->

    <!-- Review Start -->
    <section class="reviews" id="reviews">
      <h1>Foydalanuvchilar fikrlari</h1>
      <div class="swiper reviews-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide box">
            <i class="fas fa-quote-left quote"></i>
            <p>
              Bu platforma haqiqatan ham ajoyib! Kitoblar to'plami juda xilma-xil va qidiruv tizimi qulay.
              Bir necha oydan beri faol foydalanaman va juda qoniqarli.
            </p>
            <div class="content">
              <div class="info">
                <div class="name">Alisher Navoiy</div>
                <div class="job">Dasturchi</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <div class="image">
                <img src="./img/avatar4.png" alt="" />
              </div>
            </div>
          </div>
          <div class="swiper-slide box">
            <i class="fas fa-quote-left quote"></i>
            <p>
              Elektron kitoblar narxi juda ham qulay va sifatli. Xizmat ko'rsatish tez va samarali.
              Ayniqsa, yangi chiqqan kitoblarni birinchi bo'lib o'qish imkoniyati ajoyib.
            </p>
            <div class="content">
              <div class="info">
                <div class="name">Zarina Begmatova</div>
                <div class="job">O'qituvchi</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <i class="far fa-star"></i>
                </div>
              </div>
              <div class="image">
                <img src="./img/avatar2.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="swiper-slide box">
            <i class="fas fa-quote-left quote"></i>
            <p>
              O'zbek tilidagi elektron kitoblar platformalari orasida eng yaxshisi deb o'ylayman.
              Interfeys soddaligi va kitoblarning sifatli formati juda yoqadi. Tavsiya etaman!
            </p>
            <div class="content">
              <div class="info">
                <div class="name">Javlon Jorayev</div>
                <div class="job">Talaba</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
              </div>
              <div class="image">
                <img src="./img/avatar5.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="swiper-slide box">
            <i class="fas fa-quote-left quote"></i>
            <p>
              Biznes kitoblari bo'limi ayniqsa yaxshi tashkil etilgan. Xalqaro bestsellerlarning 
              o'zbekcha tarjimalarini topish mumkin. Doimiy mijoz bo'lib qolganman.
            </p>
            <div class="content">
              <div class="info">
                <div class="name">Dilfuza Rahimova</div>
                <div class="job">Biznesmen</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
              </div>
              <div class="image">
                <img src="./img/avatar3.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="swiper-slide box">
            <i class="fas fa-quote-left quote"></i>
            <p>
              Bolalar uchun kitoblar to'plami juda boy va rang-barang. Qizim bu platformani juda yaxshi 
              ko'radi va har hafta yangi kitob yuklab olamiz. Rahmat yaxshi xizmatingiz uchun!
            </p>
            <div class="content">
              <div class="info">
                <div class="name">Oygul To'xtayeva</div>
                <div class="job">Shifokor</div>
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
              </div>
              <div class="image">
                <img src="./img/avatar6.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Review End -->

    <!-- Blogs Start -->
    <section class="blogs" id="blogs">
      <div class="container">
        <h1 class="heading"><span>Bizning kitoblar haqidagi maqolalar</span></h1>

        <div class="box-container">
          {% for book in books %}
          <div class="box">
            <div class="image">
              <img src="{{book.image.url}}" alt="{{book.title}}" />
            </div>
            <div class="content">
              <h3>{{book.title}}</h3>
              <p>
                {{ book.body|safe|truncatewords:30 }}
              </p>
              <a href="{% url 'book_detail' book.id %}" class="btn">Ko'proq o'qish</a>
              <div class="icons">
                <span> <i class="fas fa-calendar"></i> {{book.created_at}} </span>
                <span> <i class="fas fa-user"></i> {{book.author}}</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div id="load-more">Ko'proq yuklash</div>
      </div>
    </section>
    <!-- Blogs End -->

{% endblock content %}